
body {
  color: LightSlateGray;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact{
background-color: "MistyRose";
background-repeat: no-repeat;
background-size:cover;
}
#d-block{
 height: auto;
 width: auto;
 overflow: hidden;
}
#fa fa{
font-size: 36px;
}
