
.jumbotron{
background: url(aran208.github.io/media/Barbies.jpg) no-repeat center cover;
}
body {
  color: LightSlateGray;
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#contact{
background-color: "MistyRose";
background-repeat: no-repeat;
background-size:cover;
}
#d-block{
 width: auto;
 height: 500px;
 max-height: 500px;
}
#fa fa{
font-size: 36px;
}
