
body {
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: LightSlateGray;
}
.carousel-item img{
 height: auto;
 width: auto;
 margin: 0 auto;
 padding: 0 auto; 
}
.fa fa{
font-size: 36px;
}
#contact{
background-color: MistyRose;
}
