
body {
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: LightSlateGray;
}
.carousel-item img{
 height: auto;
 width: auto;
 position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 800px;
}
.fa fa{
font-size: 36px;
}
#contact{
background-color: MistyRose;
padding:   
}
