
body {
  font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: LightSlateGray;
}
.fa fa{
font-size: 36px;
}
.carousel-item img{
height: auto;
width: auto;
margin: 0 auto;
padding: 0 auto;
max-height: 700px;
}
